.mataMataContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.campeao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.mataMataContainer img{
    max-height: 150px;
}



